@import "tailwindcss";

:root {
    --background: #4CAF50;
    --foreground: #171717;
}

@theme inline {
    --font-inter: var(--font-inter);
    --font-inria-sans: var(--font-inria-sans);
    --font-poppins: var(--font-poppins);

    --color-yellow-primary: #F2E44D;
    --color-green-tertiary: #107A18;
    --color-green-primary: #4CAF50;
    --color-green-secondary: #59C35D;
}

::selection {
    background-color: rgb(58, 58, 58);
    color: #ffffff;
}


@media (prefers-color-scheme: dark) {
    :root {
        /* --background: #0a0a0a; */
        /* --foreground: #ededed; */
    }
}

body {
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

*:focus-visible {
    outline: transparent !important;
}